.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

#logo #logo_text
{ position: absolute;
  top: 20px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: -1px;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #0F0;}

#logo_text h2
{ font-size: 50%;
  padding: 4px 0 0 0;
  color: #747373;}


blink {
  -webkit-animation: blink 1s steps(2, start) infinite;
  -moz-animation:    blink 1s steps(2, start) infinite;
  -o-animation:      blink 1s steps(2, start) infinite;
  animation:         blink 1s steps(2, start) infinite;
}

@-webkit-keyframes blink {
  to { visibility: hidden; }
}
@-moz-keyframes blink {
  to { visibility: hidden; }
}
@-o-keyframes blink {
  to { visibility: hidden; }
}
@keyframes blink {
  to { visibility: hidden; }
}


main,
footer,
.nav-container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(all .2s ease-out);
    font: normal 200% 'century gothic', arial, sans-serif;
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-family: $sans-font;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

#catalogue
{ width: 854px;
   overflow: hidden;
   margin: 0 auto 0 auto;
   padding: 0 24px 20px 20px;
   background: #FFF;}


footer {
  font-family: $palatino;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}
